@import url("https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap");

.winky-font {
  font-family: "Winky Rough", sans-serif;
}

@import "tailwindcss";

@font-face {
  font-family: 'Rajdhani';
  src: url('./assets/fonts/Rajdhani-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Rajdhani';
  src: url('./assets/fonts/Rajdhani-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rajdhani';
  src: url('./assets/fonts/Rajdhani-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Rajdhani';
  src: url('./assets/fonts/Rajdhani-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Rajdhani';
  src: url('./assets/fonts/Rajdhani-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

.font-rajdhani {
  font-family: 'Rajdhani';
}

@font-face {
  font-family: 'Titillium Web';
  src: url('./assets/fonts/TitilliumWeb-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium Web';
  src: url('./assets/fonts/TitilliumWeb-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium Web';
  src: url('./assets/fonts/TitilliumWeb-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

.font-titillium {
  font-family: 'Titillium Web', sans-serif;
}

:root {
  --color-primary: #FDB400;
  --color-paragraph: #FFFFFFCC;
}

.text-primary {
  color: var(--color-primary);
}

.bg-primary {
  background: var(--color-primary);
}

.text-color {
  color: var(--color-paragraph);
}

body {
  background: #0C0C0C;
  /* background: #111111; */
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.hero-separate {
  @apply grid grid-cols-1 gap-y-7.5 sm:gap-y-10 md:gap-y-12 gap-x-2.5;
}

.hero-one {
  @apply order-2;
}

.hero-tow {
  @apply order-1;
}

/* Small devices (≥576px) */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .hero-tow {
    @apply text-center;
  }
}

/* Medium devices (≥768px) */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .hero-tow {
    @apply text-center;
  }
}

/* Large devices (≥992px) */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .hero-separate {
    @apply grid-cols-2;
  }
  .hero-one {
    @apply order-1;
  }
  .hero-tow {
    @apply order-2;
  }
  .hero-tow {
    @apply text-end;
  }
}

/* Extra large devices (≥1200px) */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* Extra extra large devices (≥1400px) */
@media (min-width: 1400px) {
  .container {
    max-width: 1330px;
  }
}

/* Custom Button */
.custom-btn {
  font-family: 'Titillium Web', sans-serif;
  @apply relative px-7 py-3 text-[12px] font-bold uppercase tracking-[1px] [word-spacing:2px] rounded bg-[#FDB400] text-black transition-all duration-300;
}

.custom-btn::after {
  content: "";
  @apply absolute top-1/2 left-5 h-px w-0 bg-black -translate-y-1/2 transition-all duration-300;
}

@media (hover: hover) and (pointer: fine) {
  .custom-btn:hover {
    @apply pl-15;
  }
  .custom-btn:hover::after {
    @apply w-7.5;
  }
}

/* Nav Active */
.nav-items a {
  font-family: 'Titillium Web', sans-serif;
  @apply text-[15px] font-semibold uppercase text-white transition-all duration-200 tracking-[1px];
}

.nav-items a:hover {
  @apply text-[#FDB400];
}

.nav-items a.active {
  @apply text-[#FDB400];
}

/* Nav Social */
.hamburger,
.menu-social a {
  @apply relative h-11 w-11 flex justify-center items-center rounded-full text-white text-[18px] bg-[#c1c0bf1e] overflow-hidden transition-colors duration-300;
}

.hamburger svg,
.menu-social a svg {
  @apply relative z-10;
}

.hamburger::before,
.menu-social a::before {
  content: "";
  transform: scale(0);
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
  @apply absolute inset-0 bg-[#FDB400] rounded-full z-0;
}

.hamburger:hover::before,
.menu-social a:hover::before {
  transform: scale(1);
}

.hamburger:hover,
.menu-social a:hover {
  @apply text-black;
}

.hamburger {
  @apply border border-[#FDB400] h-10 w-10 text-[25px] text-[#FDB400] bg-[#0C0C0C];
}

.menu-social-tow a {
  @apply relative h-10 w-10;
}

/* Bar */
.bar {
  @apply h-10.5 w-10.5 flex flex-col justify-center items-center rounded-full bg-[#FDB400] cursor-pointer border border-[#FDB400] overflow-hidden relative;
  transition: 0.3s ease;
}

.bar::before {
  content: "";
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
  @apply absolute inset-0 rounded-full z-0 bg-[#0C0C0C];
}

.bar span {
  @apply relative z-10 rounded-full h-0.5 w-[50%] bg-black;
  transition: all 0.3s ease-in-out;
}

.bar span:nth-child(2) {
  @apply my-1.25 ml-1.75;
}

.bar:hover::before {
  transform: scale(1);
}

.bar:hover span {
  @apply bg-[#FDB400];
}

.bar:hover span:nth-child(2) {
  margin-left: 0;
}

/* Sidebar Heading */
.sidebar-heading h2 {
  @apply relative block cursor-default uppercase text-transparent text-[36px];
  -webkit-text-stroke: 0.5px white;
  font-family: "Winky Rough", sans-serif;
}

.sidebar-heading h2::after {
  content: "";
  @apply block absolute top-0 right-0 transition-all duration-300 w-[80%] h-12.5 bg-[linear-gradient(to_left,rgba(205,205,205,0.1),transparent)];
}

.sidebar-heading h2:hover::after {
  @apply w-0;
}

/* Menu Items */
.menu-items a {
  @apply relative block overflow-hidden text-white uppercase font-semibold w-full text-[12px] tracking-[0.15em] z-2;
  font-family: 'Titillium Web', sans-serif;
}

.menu-items a span {
  @apply block px-3 py-2.5;
}

.menu-items a::after {
  content: "";
  @apply absolute top-0 left-0 h-full transition-all duration-300 w-0 bg-[rgba(205,205,205,0.1)] z-[-1];
}

.menu-items a:hover::after {
  @apply w-full;
}

.menu-items a.active::after {
  @apply w-full;
}

/* Footer Bottom */
.footer-bottom {
  @apply py-6 text-center bg-[#141414];
  -webkit-mask-image: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-image: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}

/* Typewriter */
.Typewriter__cursor {
  @apply relative top-1.75 text-[55px] lg:text-[80px] font-light;
}


.custom-btn-resume {
  @apply bg-[#0C0C0C] text-[#FFFFFFCC] border border-[#ffffff59];
}

.custom-btn-resume svg {
  @apply text-white text-[14px];
}

.custom-btn-resume::after {
  @apply bg-[#FDB400];
}

/* Cusotm Hover */
.hover-card {
  @apply relative z-10 inline-block border-[2.5px] border-transparent transition-[background] duration-300;
  background:
    linear-gradient(#141414, #141414) padding-box,
    radial-gradient(
      300px circle at var(--x,0px) var(--y,0px),
      rgba(253,180,0,var(--active,0)),
      transparent 70%
    ) border-box;
}

.hover-card-small {
  background:
    linear-gradient(#141414, #141414) padding-box,
    radial-gradient(
      150px circle at var(--x,0px) var(--y,0px),
      rgba(253,180,0,var(--active,0)),
      transparent 70%
    ) border-box;
}

/* Testimonials Box */
.testimonials-box:first-child {
  @apply bg-linear-to-tr from-[#5f0e66] to-[#0f051a];
}
.testimonials-box:nth-child(2) {
  @apply bg-linear-to-tr from-[#60381a] to-[#130918];
}
.testimonials-box:nth-child(3) {
  @apply bg-linear-to-tr from-[#135a59] to-[#0d0d1e];
}
.testimonials-box:nth-child(4) {
  @apply bg-linear-to-tr from-[#250e6c] to-[#0e061e];
}

/* Swiper */
.swiper-pagination-bullet {
  background: #fdb50094 !important;
}
.swiper-pagination-bullet-active {
  background: #FDB400 !important;
}
.swiper-pagination {
  position: relative !important;
  bottom: 0 !important;
  margin-top: 25px;
  z-index: 20 !important;
}
.custom-btn-swiper {
  @apply text-[#FFFFFFCC] border border-[#ffffff59] bg-transparent px-5.5 py-2.5;
}
.custom-btn-swiper::after {
  @apply bg-[#FDB400];
}